.hero-area-2 .overlay {
    
    width: 100%;
    height: 100%;
   
    background-image: -moz-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    background-image: -ms-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
}